/* game board table */
body {
    background-color: rgb(235, 223, 223);
  }
  
  h1 {
    font-family: 'Merriweather', serif;
    font-size: 75px;
    display: flex;
    position: relative;
    justify-content: center;
    text-shadow: 4px 3px 0px rgba(247, 247, 247, 0.5), 5px 5px 0px rgba(0,0,0,0.15);
  }
  
  h2 {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    display: flex;
    position: relative;
    justify-content: center;
    right: 530px;
    top: 70px;
    text-shadow: 1px 2px 0px rgba(247, 247, 247, 0.5), 1px 1px 0px rgba(0,0,0,0.15);
  }
  
  #game {
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 115px;
    right: 545px;
  }
  
  #box {
    display: flex;
    position: relative;
    justify-content: center;
    width: 585px;
    height: 575px;
    border-right: 10px solid black;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    background-color: yellow;
    top: 100px;
    left: 543px;
  }
  
  #board td {
    width: 75px;
    height: 75px;
    border: solid 1px #666;
    border-radius: 80%;
    background-color: white;
    box-shadow: 0 0 5px rgb(161, 154, 154);
  }
  
  /* pieces are div within game table cells: draw as colored circles */
  
  .piece {
    /* TODO: make into circles */
    margin: 8px;
    width: 80%;
    height: 80%;
    border-radius: 50%;
  }
  
  /* TODO: make pieces red/blue,  depending on player 1/2 piece */
  .piece.p1 {
    background-color: red;
  }
  
  .piece.p2 {
    background-color: blue;
  }
  
  /* column-top is table row of clickable areas for each column */
  
  #column-top td {
    border: dashed 1px rgb(54, 50, 50);
    background-color: white;
    box-shadow: 0 0 50px rgb(255, 255, 255);
  }
  
  #column-top td:hover {
    background-color: darkgray;
  }